{% extends "layouts/empty.j2" %}

{% block content %}
<div class="login__head">{% include "components/header.j2" %}</div>

<div class="login__container">
    <form action="{{ url_for('auth.login') }}" method="post" class="login-form">
        <legend>Вход в аккаунт</legend>
        <label>
            E-mail
            <input type="text" name="email" class="input" placeholder="sample@mail.com">
        </label>
        <label>
            Пароль
            <input type="password" name="password" class="input">
        </label>
        <button type="submit" class="button">Войти</button>
        <a href="{{ url_for('auth.register') }}">Зарегистрироваться</a>
    </form>
</div>

<style>
    .login__container {
        width: 100%;
        height: 99vh;
        display: flex;
        align-items: center;
    }

    .login__head {
        position: absolute;
        width: 100%;
    }

    .input {
        font: inherit;
        background-color: white;
        border: none;
        padding: 10px;
        display: block;
        border-radius: 8px;
    }

    .login-form legend {
        font-size: 36px;
        font-weight: 400;
        line-height: 44px;
        text-align: center;
    }

    .login-form a {
        display: block;
        text-align: center;
    }

    .login-form {
        display: grid;
        gap: 20px;
        background-color: #eee;
        max-width: 500px;
        margin: 0 auto;
        padding: 30px;
        border-radius: 8px;
    }

    .login-form label {
        display: grid;
        gap: 10px
    }

    .button {
        background: #6236ff;
        border-radius: 8px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px;
        color: white;
        font: inherit;
        border: none;
        margin: 0;
    }
</style>

{% endblock content %}