<!DOCTYPE html>
<html lang="{{ lang or 'ru' }}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
        rel="stylesheet">

    <script src="https://unpkg.com/htmx.org@2.0.2"></script>

    <style>
        body {
            font-family: "Inter", sans-serif;
            font-optical-sizing: auto;
            font-style: normal;
            padding: 0;
            margin: 0;
        }

        :where(button, a).htmx-request {
            opacity: 0.5;
            pointer-events: none;
        }


        *,
        *::after,
        *::before {
            box-sizing: border-box;
        }

        svg.icon {
            display: block;
        }
    </style>

</head>

<body>
    {% block content %}
    {% endblock content %}
</body>

</html>