{% from "components/icon.j2" import Icon %}

{% macro on_enter() %}
<script>
    /** @type {HTMLInputElement} */
    const element = this
    if (event.key.toLowerCase() === "enter") {
        const url = element.getAttribute("hx-get")
        const { value, name } = element
        const params = new URLSearchParams({
            [name]: value
        })
        window.location.replace(`${url}?${params}`)
    }
</script>
{% endmacro %}

<div class="search">
    <label class="search__label">
        {{ Icon("search", 32, 32, class="search__icon") }}
        {% set query = request.args.get('q') %}

        <input type="text" class="search__input" placeholder="Поиск" name="q" hx-get="/" hx-target="#search-result"
            hx-trigger="click, keyup changed delay:200ms, search" {% if query %} value="{{ query | e }}" {% endif %}
            onkeyup='{{ on_enter() | script }}'>
    </label>
    <div id="search-result"></div>
</div>

<style>
    .search {
        width: 100%;
        max-width: 360px;
        position: relative;
    }

    .search__label {
        display: flex;
        align-items: center;
        border-radius: 8px;
        padding: 10px 20px;
        background-color: #eee;
        gap: 10px
    }

    .search .dropdown {
        max-width: 100%;
    }

    .search__input {
        background-color: transparent;
        color: inherit;
        border: none;
        outline: none;
        width: 100%;
        font: inherit;
        font-weight: 400;
        line-height: 16.8px;
        padding: 0;
    }

    .search__icon {
        flex: 32px 0 0;
        color: #888
    }

    .search__input::placeholder {
        opacity: 1;
        color: #808080
    }
</style>